:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light;
  color: white;
  background-color: black;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body::-webkit-scrollbar,
.sidebarContents::-webkit-scrollbar,
.sidebar::-webkit-scrollbar {
  width: .3em;
}

.sidebar::-webkit-scrollbar-track,
.sidebarContents::-webkit-scrollbar-track,
body::-webkit-scrollbar-track {
  background-color: black;
}

.sidebar::-webkit-scrollbar-thumb,
.sidebarContents::-webkit-scrollbar-thumb,
body::-webkit-scrollbar-thumb {
  border-radius: 1em;
  background-color: rgba(255, 255, 255, 0.507);
}

.sidebar::-webkit-scrollbar-thumb:hover,
.sidebarContents::-webkit-scrollbar-thumb:hover,
body::-webkit-scrollbar-thumb:hover {
  background-color: rgba(255, 255, 255, 0.76);
}

#root {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.section_APOD {
  flex: 1;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  margin-bottom: 2rem;
}

.mediaContainer {
  position: relative;
  width: 100%;
  height: 80vh; 
  overflow: hidden; 
}

.bg_video,
.bg_image {
  position: absolute; 
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover; 
  border: none; 
}

.bg_video {
  width: 100%;
}

.title {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0 1rem;
  width: 100%;
}

.apod_title_container h2, 
.neoWs_title h2, 
.epic_title h2 {
  font-size: 1.4rem;
}

.apod_title_container h1,
.neoWs_title h1,
#title-facts,
.epic_title h1 {
  font-size: 0.9rem;
  font-weight: 200;
}

.apod_title_container {
  width: 100%;
  display: flex;
  justify-content: space-between;
  gap: 1rem;
  padding: 1rem 0 0;
  background: black; 
  margin-top: 0;
}

.neoWs_title h2,
.neoWs_title h1,
.epic_title h2,
.epic_title h1,
.apod_title_container h1,
.apod_title_container h2 {
  align-self: start;
}

.neoWs_title h2 {
  margin-bottom: .4rem;
}

.neoWs_title p {
  font-weight: 200;
  color: rgba(255, 255, 255, 0.486);
  white-space: nowrap;
}

.apod_title_container button {
  background: transparent;
  border: none;
  outline: none;
  color: white;
  padding: 1rem;
  transition-duration: 200ms;
  cursor: pointer;
  opacity: 0.7;
}

.apod_title_container button i {
   font-size: 1.3rem;
}

.apod_title_container button:hover {
  opacity: 1;
}

.bgGradient {
  position: absolute;
  inset: 0;
  z-index: -1;
  background: linear-gradient(to top, black, rgba(255, 255, 255, 0));
}

.sidebar {
  position: fixed;
  top: 0;
  right: 0;
  height: 100vh;
  display: flex;
  flex-direction: column;
  z-index: 10;
  overflow-y: scroll;
  background: black;
}

.bgOverlay {
  position: absolute;
  inset: 0;
  background: black;
  opacity: 0.6;
}

.sidebarContents {
  z-index: 15;
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 1rem;
  overflow-y: scroll;
  height: 100%;
  width: 80%;
  max-width: 800px;
  margin-left: auto;
  background: black;
}

.sidebarContents h2 {
  font-weight: 200;
  font-size: 1.4rem;
}

.sidebarContents div {
  flex: 1;
}

.sidebarContents button {
  background: transparent;
  color: white;
  border: none;
  outline: none;
  margin-right: auto;
  cursor: pointer;
  transition-duration: 200ms;
  opacity: 0.7;
  padding: 1rem 0;
}

.sidebarContents button:hover {
  opacity: 1;
}

.descriptionContainer {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.descriptionTitle {
  font-size: 1.1rem;
  font-weight: 200;
}

.loadingState {
  display: flex;
  align-items: center;
  justify-content: center;
  flex: 1;
}

.loadingState i {
  opacity: 0.2;
  font-size: 3rem;
  animation: spin 1s linear infinite;
}

.neoWs_cards_container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap; 
  max-width: 100%; 
  overflow: hidden; 
  padding: 0 1rem; 
  box-sizing: border-box;
}

.neoWs_card {
  background-color:  #2c2c2c;
  color: white;
  margin: 1rem 1.5rem;
  padding: .5rem;
  border-radius: 1rem;
  transition: transform  0.3s ease;
  width: calc(100% - 2rem); 
  max-width: 35em; 
  text-align: center;
  box-sizing: border-box;
}
 
.neoWs_card span {
  text-decoration: underline;
  color: rgb(255, 255, 255);
  white-space: nowrap;
}

.neoWs_card p {
  color: rgba(255, 255, 255, 0.479);
}

.neoWs_card:hover {
  transform: scale(1.05);
  box-shadow: 0 0 40px 1px rgba(243, 243, 243, 0.363);
}

.neoWs_button {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto 1rem; 
  background-color: transparent;
  color: rgba(255, 255, 255, 0.575);
  text-decoration: underline;
  border: none;
  cursor: pointer;
}

.neoWs_button:hover {
  color: rgb(255, 255, 255);
}

.section_EPIC {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  overflow: hidden;
  margin:1.5rem 0 1.5rem 0;
}

.epic_container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 100%;
  overflow: hidden;
  flex-wrap: wrap;
  box-sizing: border-box; 
  padding: 0 1rem; 
}

.sliderContainer {
  width: 80%;
  max-width: 500px; 
  overflow: hidden;
}

.sliderWrapper {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.slick-slide {
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.epic_info {
  flex: 1;
  padding: .5rem;
  background-color: #2c2c2c;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-width: 30%;
  border-radius: 1em;
  box-shadow: 0 0 40px 1px rgba(243, 243, 243, 0.26);
  box-sizing: border-box;
  text-align: center; 
  width: 100%;
}

.sliderImg {
  width: 100%; 
  height: auto;
  max-width: 50vw;
  max-height: 50vh; 
  object-fit: contain;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media(min-width: 640px) {
  .sidebar {
    top: 0;
    right: 0;
    height: 100vh;
    min-width: 30%;
    max-height: 100vh;
    box-shadow: 0 0 40px 1px black;
  }

  .sidebarContents {
    margin: unset;
    width: 100%;
  }

  .bgOverlay {
    right: 0;
    left: unset;
    width: 100vw;
  }

  .epic_container {
    align-items: center;
  }

  .epic_info {
    align-self: center;
  }

}

@media(max-width: 640px) {
  .neoWs_cards_container {
    flex-direction: column;
    margin-right: 1rem;
    margin-left: 1rem;
  }

  .epic_container {
    flex-direction: column;
    margin: 1rem 0;
    align-items: flex-start;
  }

  .epic_info {
    text-align: center;
    margin-bottom: 1.5rem;
  }

  .neoWs_card {
    width: 100%; 
    margin: 1rem 0;
  }
}
